body{
    margin: 0;
    padding: 0;
   
}

header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
   
}
nav{
    padding: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a{
    text-decoration: none;
    color: #F39C12;
    font-weight: 700;
    font-size: 1.1em;
}

nav ul li a:hover{
color: #2C3E50;
font-weight: 900;
font-size: 1.5em;
scale: 1.1;
transition: color 0.3s ease-in-out;
}

.logo h1{
    font-size: 1.8em;
}

.active{
    background-color: #fff;
}

.blue{
    color: #F39C12;
}

.white{
    color: white;
}

.imgage{
    width: 100%;
    height: 100vh;
    background: url('images/IMG-20250318-WA0273.jpg') no-repeat center center/cover;
    filter: brightness(60%);
    object-fit: cover;
}




.about{
    background-color: rgba(255, 255, 255, 0.6);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    filter: brightness(60%);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.about p{
    color: #2C3E50;
}




.about .about-item img{
    width: 500px;
    
}

.text-center{
    
    text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 50px;
}

.card{
    background-color: #fff;
    color: #2C3E50;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover{
    scale: 1.1;
    background-color: #F39C12;
}



footer{
    width: 100%;
    height: 50PX;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center; 
  
}


.formateur{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    top: 50px;
    color: #2C3E50;
    box-shadow: 0 10px  10px #2C3E50 ;
    border-radius: 10px;
}

.formateur  p{
    font-size: 1.3em;
}




.team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    text-align: center;
    position: relative;
    gap: 20px;
    padding: 50px;
}

.team-menber{
    padding-top: 50px;
    max-height: 500px;
    background-color: #2C3E50;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px #F39C12;
}

.team-menber a {
    color: white;
}

.team-menber:hover{
    background-color: #F39C12;
    filter: brightness(60%);
    color: #2C3E50;
    box-shadow: 0 2px 20px #2C3E50;
    scale: 1.1;
    transition: 0.5s ease-in-out;
}

.team-menber h1{
    position: relative;
    padding-top: 100px;
    margin: auto;
}

.menber-img img{
    object-fit: cover;
    width: 200px;
    height: 300px;
    border-radius: 50%;
}

.cv-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    color: #fff;
}

.cv-grid p{
    color: #fff;
}

.cv-grid ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.cv-grid ul li a{
    text-decoration:none;
    color: #fff;
}

.cv-item{
    background-color: #2C3E50;
}

.cv-item:hover{
    background-color: #F39C12;
    transition: 0.5s ease-in-out;
}


@media screen and (max-width: 768px) {
    .imgage {
        height: 50vh; /* Sur les petits écrans, tu peux ajuster la hauteur */
    }
}

@media screen and (max-width: 480px) {
    .imgage {
        height: 40vh; /* Pour les très petits écrans (mobiles), encore plus petit */
    }
}

/* Média query pour les tablettes et petits écrans */
@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;  /* Ajuste la grille pour les petites résolutions */
        padding: 5px;
    }

    .about .about-item img{
        width: 400px;
        
    }
}

/* Média query pour les très petits écrans (smartphones) */
@media screen and (max-width: 480px) {
    .about {
        grid-template-columns: 1fr; 
        padding: 5px;
    }

    .about .about-item img{
        width: 250px;
        
    }
}


/* Média query pour les tablettes (résolution maximale de 768px) */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Passe en une seule colonne pour les tablettes */
        padding: 30px; /* Réduit le padding pour les tablettes */
    }
}

/* Média query pour les très petits écrans (résolution maximale de 480px) */
@media screen and (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr; /* Passe en une seule colonne pour les smartphones */
        padding: 20px; /* Réduit encore plus le padding pour les petits écrans */
    }
}

/* Média query pour les tablettes (résolution maximale de 768px) */
@media screen and (max-width: 768px) {
    .formateur {
        grid-template-columns: 1fr; /* Passe à une seule colonne pour les tablettes */
        height: auto; /* Ajuste la hauteur pour les petites tailles d'écran */
        top: 30px; /* Réduit l'espace du haut sur les écrans plus petits */
    }
}

/* Média query pour les très petits écrans (résolution maximale de 480px) */
@media screen and (max-width: 480px) {
        .formateur {grid-template-columns: 1fr; /* Passe à une seule colonne pour les smartphones */
        padding: 10px; /* Réduit le padding pour économiser de l'espace */
        height: auto; /* Laisse la hauteur s'ajuster automatiquement */
    }
}

/* Média query pour les tablettes (résolution maximale de 768px) */
@media screen and (max-width: 768px) {
    .team {
        grid-template-columns: 1fr; /* Passe à 1 colonne sur les tablettes */
        padding: 20px;
    }

    .team-member {
        max-height: 300px; 
        /* max-width: 200px; */
}


}

/* Média query pour les très petits écrans (résolution maximale de 480px) */
@media screen and (max-width: 480px) {
    .team {
        grid-template-columns: 1fr; /* Passe à 1 colonne pour les smartphones */
        gap: 10px; /* Réduit l'écart entre les éléments */
        padding: 10px; /* Réduit le padding */
    }

    .team-member {
        max-height: 250px; /* Réduit la hauteur pour les smartphones */
        padding-top: 30px; /* Ajuste le padding pour les petites tailles */
        /* max-width: 150px; */
    }
}


/* Pour les très petits écrans comme les smartphones (moins de 480px) */
@media screen and (max-width: 480px) {
    nav ul {
        flex-direction: column; /* Passe le menu en colonne pour les écrans plus petits */
        gap: 10px; /* Réduit l'écart entre les éléments */
        text-align: center; /* Centrer les éléments du menu */
    }

    nav ul li a{
        font-weight: 700;
        font-size: 0.5em;
    }

    header {
        padding: 5px 5px; /* Réduit encore plus le padding */
    }
}

@media screen and (max-width: 768px) {
    .cv-gril {
        grid-template-columns: 1fr; /* Passe en une seule colonne pour les tablettes */
        /* Réduit le padding pour les tablettes */
    }
}

/* Média query pour les très petits écrans (résolution maximale de 480px) */
@media screen and (max-width: 480px) {
    .cv-grid {
        grid-template-columns: 1fr; /* Passe en une seule colonne pour les smartphones */
         /* Réduit encore plus le padding pour les petits écrans */
    }
}
